#page{
  height: auto;
  width: 100%;
}

#top{
  height: auto;
  width: 100%;
  margin: 0;
}

/*
#content{
 
}
*/

#bottom{
  height: auto;
  width: 100%;
  margin: 0;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: auto;
}

.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  margin: 5% 10% 0 10%;
}